/* =============
   About
============= */

.content-grid{
   display: grid; 
   grid-template-columns: 20px auto 20px ;
   grid-template-areas: ".. content ..";
   
}
.content-grid-item{
   background-color: lavender; 
   grid-area: content;
}   

p {
   color: red; 
}


