/* =============
   Index Home
============= */
#index{
   a: link, a:visited{
      color: var(--drakgreen);
   }
   a:hover, a:active{
      color: var(--drakgreen);
      text-decoration: none;

   }
}

body {
   background-color: var(--MintCream);
}
.content-grid{
   display: grid; 
   grid-template-columns:  16px auto 16px ;
   grid-template-areas: ". content .";
}
.content-grid-item{
   background-color: lavender; 
   grid-area: content;
}       