/* =============
    resume
============= */
.content-grid{
    display: grid; 
    grid-template-columns: 20px 20px 20px ;
    grid-template-areas: ".. content ..";
    
 }
 .content-grid-item{
    background-color: lavendar; 
    grid-area: content;
 }   
 .grid-item {
    height: 100x; 
    display:grid; 
    grid-template-columns: 25% 25% 25% 25%;
 }
#red {
    background-color: red;
}
