#index-left{
   a:link, a:visited {
      color: var(darkslateblue);
      text-decoration: none;
   }
   a:hover, a:active{
      color: var(darkBlue);
      

   }
}

body {
   background-color: var(--MintCream);
}
.content-grid{
   display: grid; 
   grid-template-columns:  20px auto 20px ;
   grid-template-areas: ".. content ..";
}
.content-grid-item{
   background-color: lavender; 
   grid-area: content;
}       