/* =============
    Navigation
============= */
//slate blue / dark bluelink

.darkslateBlueLink:link, .darkslateBlueLink:visited 
{
    color: var (--darkslateblue) ;
    text-decoration: none;
}
.darkslateBlueLink: hover, .darkslateBlueLink: active{
    color: var (--darkslateblue) ;

}


nav{
    background-color: lavender; 
}