/* =============
    Navigation
============= */
//slate blue / dark bluelink

.slateBlueLink: link, slateBlueLink: visited {
    color: var (--.slateblue) ;
    text-decoration: none;
}
slateBlueLink: hover, slateBlueLink: active{
    color: var(slateblue) ;

}


nav{
    background-color: lavender; 
}