/* =============
    Navigation
============= */
//slate blue / dark bluelink

.darkslateBlueLink:link, .darkslateBlueLink:visited 
{
<<<<<<< HEAD
    color: var(darkslateblue) ;
    text-decoration: none;
}
.darkslateBlueLink: hover, .darkslateBlueLink: active{
    color: var(darkslateblue) ;
=======
    color: var(--darkslateblue);
    text-decoration: none;
}
.darkslateBlueLink: hover, .darkslateBlueLink: active{
    color: var(--darkslateblue);
>>>>>>> Portfoliobranch

}


nav{
    background-color: lavender; 
}