/* =============
    Base
============= */
body{
    background-color: plum; 
}

.content-grid{
    display: grid; 
    grid-template-columns:  16px auto 16px ;
    grid-template-areas: "content ";
}
.content-grid-item{
    background-color: lavender; 
    grid-area: content;
}       
#main-content-right {
    .social-icons{

