/* =============
    Base
============= */
body{
    background-color: var(--MintCream); 
}

.content-grid{
    display: grid; 
    grid-template-columns:  16px auto 16px ;
    grid-template-areas: "content ";
}
.content-grid-item{
    background-color: lavender; 
    grid-area: content;
}       
 #main-content-right {
    .social-icons{
            li:link, li:visited {
                color: var (darkslateblue);
                text-decoration: none;
             }
             li:hover, li:active{
                color: darkslateblue ;
                text-decoration: none;
          
             }
        
    }
}
